{% extends 'templates/base_usuario.html' %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-12 column" style="background-color: #ffffff">
            <br/>

            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1default" data-toggle="tab">Por Produto</a></li>
                        <li><a href="#tab2default" data-toggle="tab">Por Lista</a></li>
                        <!--<li><a href="#tab3default" data-toggle="tab">Default 3</a></li>-->
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">

                            <form role="form">
                                <div class="form-group">
                                    <input id="inputSearch" class="form-control" ng-model="search" title="Busca Produto"
                                           placeholder="Digite aqui o produto que você quer consultar o preço :)">
                                </div>
                            </form>

                            <div class="row">
                                <div class="col-md-6 column">

                                    <h3>Consultar Preços: </h3>

                                    <div ng-show="search.length >= 1"
                                         style="height: 300px !important; overflow: scroll;">
                                        <table class="table table-condensed table-hover">
                                            <thead>
                                            <tr>
                                                <th>Nome Produto</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="p in produtos_sistema | filter: search track by $id(p)">
                                                <td class="filterable-cell">{_ p.id _}</td>
                                                <td class="filterable-cell">
                                                    <button class="btn btn-info" title="Adicionar"
                                                            ng-click="busca_preco_prod(p.id); limparBusca()">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <br/>
                                    </div>
                                </div>

                                <div class="col-md-6 column">
                                    <h3>Preços por Mercado:</h3>
                                    <br/>

                                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab2default">
                            <h3>Selecione uma Lista: </h3>

                            <div class="row">
                                <div class="col-md-6 column">


                                    <div class="table-responsive" style="height: 300px !important; overflow: scroll;">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Visualizar</th>
                                                <th>Nome</th>
                                                <th>Data</th>
                                                <th>Local</th>
                                                <th>Valor Total</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="lista in listas_user.listas">
                                                <td>
                                                    <button id="togglebutton" class="btn btn-info"
                                                            ng-click="visualizarLista(lista, lista.total);
                                                            enviarDados(lista.produtos)">
                                                        <span class="glyphicon glyphicon-search"></span></button>
                                                </td>
                                                <td>{_lista.nome_}</td>
                                                <td>{_lista.datacompra_}</td>
                                                <td>{_lista.localcompra_}</td>
                                                <td>R$ {_lista.total_}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6 column">

                                    <div class="panel with-nav-tabs panel-default" ng-show="check_list_price">
                                        <div class="panel-heading">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab" data-toggle="tab">Lista Atual</a></li>
                                                <li ng-repeat="i in estabelecimentos">
                                                    <a href="#tab{_$index_}" ng-click="executarConsulta(i.nome)"
                                                       data-toggle="tab">{_i.nome_}</a>
                                                </li>
                                                <!--<li><a href="#tab3default" data-toggle="tab">Default 3</a></li>-->
                                            </ul>
                                        </div>
                                        <div class="panel-body">
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active" id="tab">
                                                    <div class="table-responsive"
                                                         style="height: 200px !important; overflow: scroll;">
                                                        <table class="table table-condensed table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>Produto:</th>
                                                                <th>Quantidade:</th>
                                                                <th>Preço(un):</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="t in temp track by $index">
                                                                <td>{_ t.nome _}</td>
                                                                <td>{_ t.quantidade _}</td>
                                                                <td>R$ {_ t.preco _}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <label>Preço Total: </label>
                                                        <br/>

                                                        <p style="display: inline">R$ </p>

                                                        <p style="display: inline; font-size: 200%">
                                                            <strong>{_preco_total_consulta_}</strong></p>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" ng-repeat="i in estabelecimentos"
                                                     id="tab{_$index_}">
                                                    <div class="table-responsive"
                                                         style="height: 200px !important; overflow: scroll;">
                                                        <table class="table table-condensed table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>Produto:</th>
                                                                <th>Preço(un):</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="j in dados_para_consulta">
                                                                <td ng-repeat="(key, value) in j">{_key_}</td>
                                                                <td ng-repeat="(key, value) in j">R$ {_value_}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <label>Preço Total: </label>
                                                        <br/>

                                                        <p style="display: inline">R$ </p>

                                                        <p style="display: inline; color: #32cd32; font-size: 200%">
                                                            <strong>{_preco_total_consulta_}</strong></p>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="tab-pane fade" id="tab3default">Default 3</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>

{% endblock %}