{% extends 'templates/index.html' %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-12 column">

            <h1><strong>CONTATO</strong></h1>

        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #ffffff; margin-top: 40px">
    <div class="row">
        <div class="col-md-12 column" style="margin-bottom: 20px">
            <div class="container" style="margin-top: 20px; margin-bottom: 20px">

                <div class="col-md-6 column">
                    <p align="center">

                            <img src="../static/img/fb-logo.png" class="img-responsive img-circle"
                                 alt="Contato Facebook" style="width: 200px; height: 200px;"></a>
                        <br/>
                        <strong>Facebook:
                            <a href="http://www.facebook.com/edy.sjc">Eduardo Augusto</a>
                        </strong>
                        <br/>
                    </p>
                </div>
                <div class="col-md-6 column">
                    <p align="center">

                        <img src="../static/img/github-logo.jpg" class="img-responsive img-circle"
                             alt="Perfil Github" style="width: 200px; height: 200px;"></a>
                        <br/>
                        <strong>Github:
                            <a href="http://www.github.com/osushipower"> osushipower</a>
                        </strong>
                        <br/>
                    </p>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>

{% endblock %}