{% extends 'templates/base.html' %}

{% block head %}
    {{ super() }}
        <script type="text/javascript" src="/static/js/angular.min.js"></script>
        <script type="text/javascript" src="/static/js/controller/tableController.js"></script>
{% endblock %}

{% block main %}
        <div ng-app="ticketsyApp" ng-controller="controller" class="row clearfix">
            <div class="col-md-12 column">
                <!--<form action="{{ salvar_curso }}" method="post" role="form">
                    <div class="form-group" ng-show="isEditEnabled">
                        <label >First Name:</label>
                        <input type="text" class="form-control" name="firstname" ng-show="isEditEnabled">

                        <label>Last Name</label>
                        <input type="text" class="form-control" name="lastname" ng-show="isEditEnabled">
                    </div>
                </form>-->
                <h1>Create New User</h1>
                <div class="table-responsive">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Gender</th>
                                <th>Country</th>
                                <th>State</th>
                                <th>City</th>
                                <th>Address</th>
                                <th>ZipCode</th>
                                <th>Phone</th>
                                <th>E-Mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <div class="input-group">
                                    <td><input type="text" class="form-control input-sm" ng-model="inputFirstName">
                                    </td>
                                </div>
                                <div class="input-group">
                                    <td><input type="text" class="form-control input-sm" ng-model="inputLastName"></td>
                                </div>
                                <div class="input-group">
                                    <td><input type="text" class="form-control input-sm" ng-model="inputGender"></td>
                                </div>
                                <div class="input-group">
                                    <td><input type="text" class="form-control input-sm" ng-model="inputCountry"></td>
                                </div>
                                <div class="input-group">
                                    <td><input type="text" class="form-control input-sm" ng-model="inputState"></td>
                                </div>
                                <div class="input-group">
                                    <td><input type="text" class="form-control input-sm" ng-model="inputCity"></td>
                                </div>
                                <div class="input-group">
                                    <td><input type="text" class="form-control input-sm" ng-model="inputAddress"></td>
                                </div>
                                <div class="input-group">
                                    <td><input type="text" class="form-control input-sm" ng-model="inputZipCode"></td>
                                </div>
                                <div class="input-group">
                                    <td><input type="text" class="form-control input-sm" ng-model="inputPhone"></td>
                                </div>
                                <div class="input-group">
                                    <td><input type="text" class="form-control input-sm" ng-model="inputEmail"></td>
                                </div>
                                <td><button class="btn btn-success" title="Create New User" type="submit" ng-click="salvarUsuario()">
                                        <i class="glyphicon glyphicon-floppy-disk"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h1>Database Information</h1>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Country</th>
                                <th>State</th>
                                <th>City</th>
                                <th>Address</th>
                                <th>Zip Code</th>
                                <th>Phone</th>
                                <th>E-Mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="u in usuarios | orderBy: u.firstname">
                                <td>
                                    <span ng-hide="u.editando">{_ u.firstname _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.firstname">
                                    </div>
                                </td>
                                <td>
                                    <span ng-hide="u.editando">{_ u.lastname _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.lastname">
                                    </div>
                                </td>
                                <td><span ng-hide="u.editando">{_ u.sex _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.sex">
                                    </div>
                                </td>
                                <td><span ng-hide="u.editando">{_ u.country _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.country">
                                    </div>
                                </td>
                                <td><span ng-hide="u.editando">{_ u.state _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.state">
                                    </div>

                                </td>
                                <td><span ng-hide="u.editando">{_ u.city _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.city">
                                    </div>
                                </td>
                                <td><span ng-hide="u.editando">{_ u.address _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.address">
                                    </div>
                                </td>
                                <td><span ng-hide="u.editando">{_ u.zipcode _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="text" class="form-control input-sm"
								                   ng-model="u.zipcode">
                                    </div>
                                </td>
                                <td><span ng-hide="u.editando">{_ u.phone _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="tel" class="form-control input-sm"
								                   ng-model="u.phone">
                                    </div>
                                </td>
                                <td><span ng-hide="u.editando">{_ u.email _}</span>
                                    <div ng-show="u.editando" class="input-group">
                                        <input type="email" class="form-control input-sm"
								                   ng-model="u.email">
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-warning" title="Edit Register"
                                            ng-click="editarUsuario(u)" ng-hide="u.editando">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button class="btn btn-success" title="Save Changes"
                                            ng-click="confirmarEdicao(u)" ng-show="u.editando">
								        <i class="glyphicon glyphicon-floppy-disk"></i>
							        </button>
                                    <button class="btn btn-danger" title="Delete Register"
                                            ng-click="removerElemento(u, $index)" ng-hide="u.editando">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}