{% extends 'templates/base_usuario.html' %}

{% block main %}

<div class="container">
    <div class="col-md-12 column" style="background-color: #ffffff">
        <br/>
        <h2>Perfil:</h2>
        <br/>

        <p>
            <strong>Nickname:</strong> {{ _usuario_logado.firstname }} <br/>
            <strong>Cidade:</strong> {{ _usuario_logado.city }} <br/>
            <strong>Email:</strong> {{ _usuario_logado.email }}
        </p>
        <br/>

        <h4>Minhas Listas:</h4>
        <br/>

        <div class="table-responsive">
            <table>
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}