{% extends 'templates/base_usuario.html' %}

{% block main %}

<div class="container">
    <div class="col-md-12 column" style="background-color: #ffffff">
        <br/>

        <form role="form">
            <div class="form-group">
                <input class="form-control" ng-model="search" title="Busca Produto"
                       placeholder="Comece pesquisando por um produto :)">
            </div>
        </form>
        <div ng-show="search.length >= 1">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nome Produto</th>
                    <th>Marca</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in produtos | filter: search track by $id(p)">
                    <td class="filterable-cell">{_ p.nome _}</td>
                    <td class="filterable-cell">{_ p.marca _}</td>
                    <td class="filterable-cell">
                        <button class="btn btn-success" title="Adicionar"
                                ng-click="adicionarProdutoListaTemp(p)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
        </div>
        <br/>

        <h3>Itens na Lista: </h3>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Marca</th>
                    <th>Quantidade</th>
                    <th>Preço Unitário</th>
                    <th>Editar/Remover</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="i in listatemp">
                    <td class="filterable-cell">{_ i.nome _}</td>
                    <td class="filterable-cell">{_ i.marca _}</td>
                    <td class="filterable-cell">
                        <div class="input-group">
                            <input type="number" min="1" class="form-control input-sm"
                                   ng-model="inputQuantidade">
                        </div>
                    </td>
                    <td class="filterable-cell">
                        <div class="input-group">
                            <input type="number" step="any" min="0" class="form-control input-sm"
                                   ng-model="inputPreco">
                        </div>
                    </td>
                    <td class="filterable-cell">
                        <!--
                        <button class="btn btn-warning" title="Editar Item"
                                ng-click="editarProduto(i)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-success" title="Salvar Alterações"
                                            ng-click="confirmarEdicao(i)" ng-show="i.editando">
								        <i class="glyphicon glyphicon-floppy-disk"></i>
							        </button> -->
                        <button class="btn btn-danger" title="Remover Item"
                                ng-click="removerProduto(i)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>

        <form role="form">
            <div class="form-group" align="center">
                <button type="submit" class="btn btn-success" title="Salvar Lista"><span
                        class="glyphicon glyphicon-floppy-disk"></span> Salvar Lista
                </button>
            </div>
        </form>

        <br/>

    </div>
</div>

{% endblock %}