{% extends 'templates/base_usuario.html' %}

{% block main %}

<div class="container">
    <div class="col-md-12 column" style="background-color: #ffffff">
        <br/>

        <h3>Minhas Listas: </h3>
        <br/>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>

                </thead>
                <tbody>
                    <tr ng-repeat="l in listasuser track by $index">
                        <td>{_ l.datacompra _}</td>
                        <td>{_ l.localcompra _}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}