{% extends 'templates/index.html' %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-12 column">

            <h1><strong>SOBRE</strong></h1>

        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #ffffff; margin-top: 40px">
    <div class="row">
        <div class="col-md-12 column" style="margin-bottom: 20px">
            <div class="container" style="width: 350px">
                <p align="center" style="margin-top: 20px; margin-bottom: 20px">
                    <img src="../static/img/fatec.png" class="img-responsive" alt="Logo Fatec SJC">
                </p>
                <p>
                    Este website foi desenvolvido como Trabalho de Graduação para obtenção
                    do certificado de conclusão de curso de Análise e Desenvolvimento de Sistemas
                    da Faculdade de Tecnologia de São José dos Campos.
                    Até o momento, o mesmo não possui nenhuma finalidade comercial e possui código-fonte livre
                    disponibilizado no Github para futuras consultas.</p>

                <p style="margin-top: 20px">
                    <strong>Aluno: </strong>Eduardo Augusto Saito
                    <br/>
                    <strong>Orientador: </strong>Prof. Me. Gerson Penha Neto</p>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}